{% extends "layout.html" %}

{% block content %}
<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Residents of </h5>
        </div>
        <div class="modal-body">
            <table class="table table-warning table-striped table-sm" >
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Height</th>
                        <th scope="col">Mass</th>
                        <th scope="col">Hair color</th>
                        <th scope="col">Skin color</th>
                        <th scope="col">Eye color</th>
                        <th scope="col">Birth day</th>
                        <th scope="col">Gender</th>
                    </tr>
                </thead>
                <tbody id="modalTableBody"></tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="Close">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <h1 style="padding-bottom: 2%; padding-top: 2%;">Star Wars universe planet</h1>
    <div class="btn-group" role="group" aria-label="Basic example" style="padding-bottom: 3%;">
        <button class="btn btn-primary"  id ="prev" role="button">Previous</button>
        <button class="btn btn-primary" id ="next" role="button">Next</button>
    </div>
    <table class="table table-warning table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Diameter</th>
                <th scope="col">Climate</th>
                <th scope="col">Terrian</th>
                <th scope="col">Surface Water Percetange</th>
                <th scope="col">Population</th>
                <th scope="col">Residents</th>
            </tr>
        </thead>
        <tbody id="baseTable"></tbody>
    </table>
    
</div>
{% endblock %}